html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 900px) {
    #game {
        display: grid;
        gap: 0px;
        grid-template-rows: 4rem 300px auto 2rem;
        grid-template-columns: 704px auto minmax(15rem, 20%);
        width: 100%;
        height: 100%;
    }
    #game > #turn-info {
        grid-row: 1;
        grid-column: 1 / 4;
    }
    #game > #map {
        grid-row: 2 / 3;
        grid-column: 1;
    }
    #game > #dice-and-action-area {
        grid-row: 2 / 4;
        grid-column: 2;
    }
    #game > #instructions {
        grid-row: 2;
        grid-column: 3;
    }
    #game > #log {
        grid-row: 2 / 5;
        grid-column: 3;
    }
    #game > #about {
        grid-row: 4;
        grid-column: 1 / 3;
    }

    #turn-info { border-bottom: 1px solid lightgrey; }
    #about { border-top: 1px solid lightgrey; }
    #instructions, #log { border-left: 1px solid lightgrey; }
}

@media screen and (max-width: 900px) {
    #log { display: none; }
}

@media screen and (max-width: 704px) {
    #map {
        transform: scale(0.5, 0.5);
    }
}

#map > div {
    display: flex;
    flex-direction: row;
    flex: 0 0;
}

.sprite {
    z-index: 0;
    position: relative;
}

.sprite > * {
    position: absolute;
}

.sprite > :nth-child(1) {
    transform: translate(0px, 0px);
    z-index: 1;
}
.sprite > :nth-child(2) {
    transform: translate(-8px, -8px);
    z-index: 2;
}
.sprite > :nth-child(3) {
    transform: translate(-16px, -16px);
    z-index: 3;
}
.sprite > :nth-child(4) {
    transform: translate(-24px, -24px);
    z-index: 4;
}
.sprite > :nth-child(5) {
    transform: translate(-32px, -32px);
    z-index: 5;
}
.sprite > :nth-child(6) {
    transform: translate(-40px, -40px);
    z-index: 6;
}

#about {
    font-family: monospace;
    display: flex;
}
#about > * {
    width: fit-content;
    margin: auto 2em;
}

#instructions {
    padding: 1em;
}

#log {
    padding: 1em;
}

#dice-and-action-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
#dice-area {

}
#action-area {
    padding: 2rem;
    width: 8rem;
}
.die {
    height: 64px;
    width: 64px;
}
.dice-option {
    display: flex;
    margin-bottom: 2rem;
    height: 6rem;
}
.dice-option > .die {
    margin: 5px;
}
.dice-option > :nth-child(2),
.dice-option > :nth-child(4) {
    margin-right: 20px;
}
.dice-option > :nth-child(5) {
    width: 12rem;
}

.action {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid;
    user-select: none;
}
.action:hover {
    background-color: #eeeeee;
}

#turn-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#win,
#game-options {
    position: fixed;
    left: 50%;
    top: 50%;
    border: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transform: translate(-50%, -50%);
}

#win {
    height: 3rem;
    width: 30rem;
}

#game-options {
    min-height: 50%;
    min-width: 50%;
    padding: 2rem;
}

#instructions {
    white-space: pre-wrap;
}
